.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
    ),
     url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1598455932000/photosp/bab49efd-43a9-44d6-9353-c9d052f1dbcf/stock-photo-still-life-leaves-wallpaper-beautiful-pastel-minimalist-eucalyptus-minimal-natural-backgrounds-bab49efd-43a9-44d6-9353-c9d052f1dbcf.jpg");
     background-size: cover;
}
.loginTitle{
    font-size: 50px;

}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm>label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color:white;
    border-radius: 10px;

}